<!DOCTYPE html>
<html>
<head>
<title>Vote</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="background:linear-gradient(to right,#1e3c72,#2a5298); color:white;">

<div class="container mt-5">

<h2 class="text-center">🗳 Voting System</h2>

<div class="card p-4 text-dark">

<p class="text-danger">{{ message }}</p>

{% if not show_otp %}
<form method="POST">

<input class="form-control mb-3" name="voter_id" placeholder="Enter Your Voter ID" required>

<select class="form-control mb-3" name="candidate" required>
{% for c in candidates %}
<option value="{{ c.name }}">
🟢 {{ c.name }}
</option>
{% endfor %}
</select>

<button class="btn btn-primary w-100" name="generate_otp">
Generate OTP
</button>

</form>
{% endif %}

{% if show_otp %}
<form method="POST">

<input class="form-control mb-3" name="otp" placeholder="Enter OTP" required>

<button class="btn btn-success w-100" name="verify_otp">
Verify & Vote
</button>

</form>
{% endif %}

</div>

<div class="text-center mt-4">
<a href="/admin_login" class="btn btn-light">Admin Login</a>
</div>

</div>

</body>
</html>